/* HEADER */

@media (max-width: 650px) {
    .nav {
        display: flex;
        flex-direction: column;
    }
}

.header {
    background-color: $verdeClaro;

    .contenedorHeader {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 1rem 0.5rem 1rem;
    }

    .barra-activate{
        font-weight: bold;
    }
    .nav-link {
        color: $negro;
    }

    .contenedorHeader {
        text-align: center;
    }

    .barra {
        text-transform: uppercase;
    
        &:hover {
            transform: scale(1.1);
        }
    }
    
}

/* MAIN INDEX */

.beige {
    background-color: $beige;

    .contenidoIndex {
        margin: 1rem;
        padding: 1rem;
        border: 0.2rem solid $verdeOscuro;
        border-radius: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "kettlebell nordic"
        "kayak kayak";
        column-gap: 0.5rem;
        

        .kayak {
            grid-area: kayak;
        }
        .kettlebell {
            grid-area: kettlebell;
        }
        .nordic {
            grid-area: nordic;
        }
        .kettlebellImg {
            max-height: 25rem;
            width: 100%;

        }
        .kayakImg {
            max-height: 25rem;
            width: 50%;

        }
        .nordicImg {
            max-height: 25rem;
            width: 100%;
        }
    }

}
@media (max-width: 1000px){
    .beige {
        background-color: $beige;
    
        .contenidoIndex {
            
            display: flex;
            flex-direction: column;
            
            .kettlebellImg {
                max-height: 25rem;
                width: auto;
    
            }
            .kayakImg {
                max-height: 25rem;
                width: auto;
    
            }
            .nordicImg {
                max-height: 25rem;
                width: auto;
            }
        }
    
    }
}

@media(max-width: 700px) {
    .beige {
        .contenidoIndex {
            .kettlebellImg {
                max-height: 25rem;
                width: 100%;
        
            }
            .kayakImg {
                max-height: 25rem;
                width: 100%;
        
            }
            .nordicImg {
                max-height: 25rem;
                width: 100%;
            }
        }
    }
}