/* PAQUETES */
.contenidoPaquetes {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: $beige;
    
}
.texto-paquetes {
    font-size: 1.2rem;
    width: 100%;
}

.bordePaquetes {
    border: 3px solid $verdeOscuro;
    border-radius: 1rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    
}

.paquetes-texto-main {
    margin-bottom: 0rem;
    padding: 0.5rem;
}

@media(max-width: 1000px) {
    .beige {
        background-color: $beige;
        .bordePaquetes {
            display: flex;
            flex-direction: column;
        }
        
    }
}
@media (max-width: 1000px) {
    .contenidoPaquetes {
        .kettlebellImg-paquetes {
            max-height: 25rem;
            width: 60%;
        }
        .nordicImg-paquetes {
            max-height: 25rem;
            width: 60%;
    
        }
        .kayakImg-paquetes {
            max-height: 25rem;
            width: 60%;
        }
        
    }
}

.kettlebellImg-paquetes {
    max-height: 25rem;
    width: 100%;
}
.nordicImg-paquetes {
    max-height: 25rem;
    width: 100%;
}
.kayakImg-paquetes {
    max-height: 25rem;
    width: 100%;
}