
$negro: #000000;
$blanco: #ffffff;
$marron: rgb(54, 39, 6);
$verdeOscuro: rgb(70, 78, 46);
$verdeClaro: rgb(172, 185, 146);
$beige:#ffffff;

$fuenteHeading: 'PT Sans', sans-serif;
$fuenteParrafos: 'Open Sans', sans-serif;

