:root {

    --negro: #000000;
    --blanco: #ffffff;
    --marron: rgb(54, 39, 6);
    --verdeOscuro: rgb(70, 78, 46);
    --verdeClaro: rgb(172, 185, 146);
    --beige: rgb(233, 229, 214);

    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;
}
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
/* body {
    width: auto;
    background-color: var(--beige);
} */
p {
    font-family: var(--fuenteParrafos);
}
h1,h2,h3,h4 {
    font-family: var(--fuenteHeading);
}
a {
    font-family: var(--fuenteParrafos);
    text-decoration: none;
    font-size: 1.5rem;
}
figcaption {
    font-family: var(--fuenteHeading);
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.8rem;
}
h3 {
    font-size: 2.6rem;
}
h4 {
    font-size: 2.2rem;
}
* {
    padding: 0;
    margin: 0;
}

.centrar-texto {
    text-align: center;
}

/* HEADER */
@media (min-width: 768px) {
    .contenedorHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 1rem 0.5rem 1rem;
    }
}
.header {
    background-color: var(--verdeClaro);
}
.contenedorHeader {
    text-align: center;
}
.logo {
    text-transform: uppercase;
}
.logo:hover {
    transform: scale(1.1);
}
.navegacion_enlace:hover {
    transform: scale(1.1);
}
.navegacion {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    list-style: none;
}

/* MAIN INDEX */

.contenidoIndex{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    border: 0.2rem solid var(--verdeOscuro);
    border-radius: 1rem;
    text-transform: uppercase;
    
}
.beige {
    background-color: var(--beige);
}
.kettlebellImg {
    max-height: 25rem;
}
.nordicImg {
    max-height: 25rem;
}
.kayakImg {
    width: 60%;
}

@media (min-width: 768px) {
    .beige {
        background-color: var(--beige);
    }
    
    .contenidoIndex {
        background-color: var(--beige);
        text-align: center;
        padding: 0.5rem;
        border: 0.2rem solid var(--verdeOscuro);
        border-radius: 1rem;
        
        text-transform: uppercase;
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "kettlebell nordic"
        "kayak kayak"
        ;
    }
    .kettlebell {
        grid-area: kettlebell;
    }
    .nordic {
        grid-area: nordic;
    }
    .kayak {
        grid-area: kayak;
    }
    .kettlebellImg {
        max-height: 25rem;
    }
    .nordicImg {
        max-height: 25rem;
        
    }
    .kayakImg {
        max-width: 50%;
    }
}

/* PAQUETES */
.contenidoPaquetes {
    padding-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: var(--beige);
}
.texto-paquetes {
    font-size: 1.2rem;
    
}
.bordePaquetes {
    border: 3px solid var(--verdeOscuro);
    border-radius: 1rem;
    padding: 0.5rem;
}
.kayakImgPaquetes {
    width: 100%;
}
@media (min-width: 768px) {
    .contenidoPaquetes {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "kettlebell kayak nordic"
        ;
        column-gap: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
}

/* OBJETIVO Y NOSOTROS */
.mainTextoCentral {
    padding: 2rem;
}
.texto-central {
    padding-left: 4rem;
    padding-right: 4rem;
    font-size: 2rem;
}

/* CONTACTO */

@media (min-width: 700px) {
    .campo {
        display: flex;
        flex-direction: column;
        border: 2px solid var(--verdeOscuro);
        padding: 1.5rem;
        font-size: 2rem;
        font-family: var(--fuenteHeading);
        margin: 1rem;
    
        background-image: url(../img/hoja.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        margin: 2rem 15rem 2rem 15rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
        
    }
    .campo-label {
        width: 90%;
    }
    .campo-input {
        width: 90%;
        height: 2rem;
    }
    .campo-textarea {
        width: 90%;
        height: 10rem;
    }
    .boton {
        font-family: var(--fuenteHeading);
        color: var(--blanco);
        background-color: var(--verdeOscuro);
        font-size: 1rem;
        text-align: center;
        padding: 1rem;
        font-size: 1.8rem;
        text-transform: uppercase;
        margin-bottom: 1rem;
        border: none;
        cursor: pointer;
    }
}
.formulario {
        display: flex;
        flex-direction: column;
        border: 2px solid var(--verdeOscuro);
        padding: 1.5rem;
        font-size: 2rem;
        font-family: var(--fuenteHeading);
}
.campo-label {
    width: 90%;
}
.campo-input {
    width: 90%;
    height: 2rem;
}
.campo-textarea {
    width: 90%;
    height: 10rem;
}
.boton {
    font-family: var(--fuenteHeading);
    color: var(--blanco);
    background-color: var(--verdeOscuro);
    font-size: 1rem;
    text-align: center;
    padding: 1rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    border: none;
    cursor: pointer;
}

/* MOVIMIENTOS */
.movimientos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 2rem 1rem 2rem;
}
.movimientos-texto {
    padding: 2rem 10rem 2rem 10rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
}
/* MOVIMIENTOS KAYAK */
.movimientos-imagen-kayak {
    max-height: 30rem;
    width: 100%;
}
/* MOVIMIENTOS KETTLEBELL */
.movimientos-imagen-kettlebell {
    max-height: 30rem;
    width: 100%;
}
/* MOVIMIENTOS NORDIC */
.movimientos-imagen-nordic {
    width: 100%;
}
/* FOOTER */
.contenedorFooter {
    background-color: var(--verdeClaro);
}
.redesSociales {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.iconoPng {
    height: 2.5rem;
}

