html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
}

h1, h2, h3, h4, h5 {
  font-family: "PT Sans", sans-serif;
  margin-bottom: 0;
  font-weight: 550;
}

a {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  font-size: 1.5rem;
}

figcaption {
  font-family: "PT Sans", sans-serif;
  color: #000000;
  font-weight: 550;
}

figure {
  margin: 0;
}

h1 {
  font-size: 3rem;
  color: #000000;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.6rem;
}

h4 {
  font-size: 2.2rem;
}

* {
  margin: 0;
  padding: 0;
}

.centrar-texto {
  text-align: center;
}

/* FOOTER */
.contenedorFooter {
  background-color: #acb992;
}

.contenedorFooter .iconoPng {
  height: 2.5rem;
}

.redesSociales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

/* HEADER */
@media (max-width: 650px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header {
  background-color: #acb992;
}

.header .contenedorHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.header .barra-activate {
  font-weight: bold;
}

.header .nav-link {
  color: #000000;
}

.header .contenedorHeader {
  text-align: center;
}

.header .barra {
  text-transform: uppercase;
}

.header .barra:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/* MAIN INDEX */
.beige {
  background-color: #e9e5d6;
}

.beige .contenidoIndex {
  margin: 1rem;
  padding: 1rem;
  border: 0.2rem solid #464e2e;
  border-radius: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "kettlebell nordic" "kayak kayak";
  -webkit-column-gap: 0.5rem;
          column-gap: 0.5rem;
}

.beige .contenidoIndex .kayak {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: kayak;
}

.beige .contenidoIndex .kettlebell {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: kettlebell;
}

.beige .contenidoIndex .nordic {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: nordic;
}

.beige .contenidoIndex .kettlebellImg {
  max-height: 25rem;
  width: 100%;
}

.beige .contenidoIndex .kayakImg {
  max-height: 25rem;
  width: 50%;
}

.beige .contenidoIndex .nordicImg {
  max-height: 25rem;
  width: 100%;
}

@media (max-width: 1000px) {
  .beige {
    background-color: #e9e5d6;
  }
  .beige .contenidoIndex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .beige .contenidoIndex .kettlebellImg {
    max-height: 25rem;
    width: auto;
  }
  .beige .contenidoIndex .kayakImg {
    max-height: 25rem;
    width: auto;
  }
  .beige .contenidoIndex .nordicImg {
    max-height: 25rem;
    width: auto;
  }
}

@media (max-width: 700px) {
  .beige .contenidoIndex .kettlebellImg {
    max-height: 25rem;
    width: 100%;
  }
  .beige .contenidoIndex .kayakImg {
    max-height: 25rem;
    width: 100%;
  }
  .beige .contenidoIndex .nordicImg {
    max-height: 25rem;
    width: 100%;
  }
}

/* PAQUETES */
.contenidoPaquetes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: #e9e5d6;
}

.texto-paquetes {
  font-size: 1.2rem;
  width: 100%;
}

.bordePaquetes {
  border: 3px solid #464e2e;
  border-radius: 1rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.paquetes-texto-main {
  margin-bottom: 0rem;
  padding: 0.5rem;
}

@media (max-width: 1000px) {
  .beige {
    background-color: #e9e5d6;
  }
  .beige .bordePaquetes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1000px) {
  .contenidoPaquetes .kettlebellImg-paquetes {
    max-height: 25rem;
    width: 60%;
  }
  .contenidoPaquetes .nordicImg-paquetes {
    max-height: 25rem;
    width: 60%;
  }
  .contenidoPaquetes .kayakImg-paquetes {
    max-height: 25rem;
    width: 60%;
  }
}

.kettlebellImg-paquetes {
  max-height: 25rem;
  width: 100%;
}

.nordicImg-paquetes {
  max-height: 25rem;
  width: 100%;
}

.kayakImg-paquetes {
  max-height: 25rem;
  width: 100%;
}

/* OBJETIVO Y NOSOTROS */
.mainTextoCentral {
  padding: 2rem;
}

.texto-central {
  padding-left: 4rem;
  padding-right: 4rem;
  font-size: 2rem;
}

/* CONTACTO */
.formulario {
  background-color: #e9e5d6;
  row-gap: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid #464e2e;
  border-radius: 1rem;
  padding: 1.5rem;
  font-size: 2rem;
  font-family: "PT Sans", sans-serif;
}

.formulario .campo {
  border: 2px solid #464e2e;
  border-radius: 1rem;
}

.formulario .campo .campo-label {
  font-weight: 500;
}

.formulario .campo .campo-input {
  border: 2px solid #000000;
  width: 90%;
  height: 2rem;
}

.formulario .campo .campo-textarea {
  border: 2px solid #000000;
  width: 90%;
  height: 10rem;
}

@media (min-width: 900px) {
  .formulario {
    background-color: #e9e5d6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 2px solid #464e2e;
    border-radius: 1rem;
    margin: 0.5rem 4rem;
    padding: 1rem;
    font-size: 2rem;
    font-family: "PT Sans", sans-serif;
  }
  .formulario .campo {
    border: 2px solid #464e2e;
    border-radius: 1rem;
    padding: 1rem;
    background-image: url(../img/hoja.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1rem 10rem 1rem 10rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: auto;
  }
  .formulario .campo .campo-label {
    font-weight: 500;
  }
  .formulario .campo .campo-input {
    border: 2px solid #000000;
    width: 90%;
    height: 2rem;
  }
  .formulario .campo .campo-textarea {
    border: 2px solid #000000;
    width: 90%;
    height: 10rem;
  }
  .boton {
    margin: 0.1rem 15rem 1rem 15rem;
    font-family: "PT Sans", sans-serif;
    color: #ffffff;
    background-color: #464e2e;
    font-size: 1rem;
    text-align: center;
    padding: 1rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    border: none;
    cursor: pointer;
  }
}

.boton {
  font-family: "PT Sans", sans-serif;
  color: #ffffff;
  background-color: #acb992;
  color: #464e2e;
  font-size: 1rem;
  text-align: center;
  padding: 1rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  border: none;
  cursor: pointer;
}

.boton:hover {
  -webkit-transition: 1s;
  transition: 1s;
  background-color: #464e2e;
  color: #acb992;
}

/* MOVIMIENTOS */
.movimientos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 2rem 1rem 2rem;
}

.movimientos-texto {
  padding: 2rem 10rem 2rem 10rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
}

/* MOVIMIENTOS KAYAK */
.movimientosExtend, .movimientos-imagen-kayak, .movimientos-imagen-kettlebell, .movimientos-imagen-nordic {
  width: 60%;
}

.movimientos-imagen-kayak {
  max-height: 30rem;
}

/* MOVIMIENTOS KETTLEBELL */
.movimientos-imagen-kettlebell {
  max-height: 30rem;
}

/* MOVIMIENTOS NORDIC */
/*# sourceMappingURL=style.css.map */